/*stili generali pagina*/

body{
    background-color: rgb(44, 44, 44);
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
}

h2, h3{
    color: white;
}

/*stili col e row*/

[class*="col-"] {
    background-color: rgb(43, 87, 209);
    border: 2px solid rgb(44, 44, 44);
    min-height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested{
    background-color: rgb(145, 145, 52);
    min-height: 40px;
    border:1px solid rgb(43, 87, 209);
}

.nested-row{
    padding: 10px;
}

.space{
    margin-bottom: 20px;
}


/*bonus*/

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

.big{
    min-height: 80px;
}

.normal{
    height: 40px;
}

.middle{
    align-items: center;
}

.bottom{
    align-items: end;
}

.s-a{
    justify-content: space-around;
}

.s-b{
    justify-content: space-between;
}